h1 {
    text-decoration: dotted;
    font-size:x-large;
    margin: 10px;
}
/* filtre*/
#filtre{
    clear: both;
    float: right;
    margin: 10px;
}
#categorie{
    border: 2px solid;
    border-radius: 2px;
    margin-right: 7px;

}

div#corps {
    clear: both;
}
/* tableau*/
table {
    border-collapse: collapse;
    width: 85%; 
    border: 3px solid black; 
    margin: auto;
}
th {
    text-decoration: dotted;
}

th, td {
    border: 1px solid black; 
    text-align: center;
    padding: 10px;
}

/* Bouton nouveau Produit */
.AjoutProduit {
    margin-top: 15px;
}
button#butyonInv {
    float: right;
    padding: 10px 15px;
    background-color: #4d5ede; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover#butyonInv {
    background-color: #22c55e; 
}

/*Formulaire*/

.popup-inner {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 30%;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 1000;
    box-sizing: border-box;
    position: fixed;
}
.popup-form-wrapper {
  position: relative;
}
.popup-inner label {
    display: block;
    margin-bottom: 5px;
}

.popup-inner input {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.popup-inner input[type="submit"] {
    background-color: #4d5ede;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.popup-inner input[type="submit"]:hover {
    background-color: #22c55e;
}
.popup-form {
  position: relative; /* important pour l'overlay interne */
  z-index: 1;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: none;
  border-radius: 5px;
}
/*Pop up de confirmation*/
.modal-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.modal {
    background: rgb(232 224 206);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn.cancel {
    background-color: #ccc;
  }
  
  .btn.confirm {
    background-color: #4d5ede;
    color: white;
  }
/*Alerte Faible stock*/
.modal-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.modal-list li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/*Disponibilite*/
.grise {
    background-color: rgb(180, 177, 177);
}
button:disabled#butyonInv{
    background-color: rgb(134, 127, 127);
    color: black;
}