/* Style général du lien */
.produits {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    margin: 50px;
    border: 1px solid black;
    width: 90%;
}

.produitImg {
    padding: 10px;
    width: 150px;
    height: 150px;
}

p{

}
