.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.Header h3 {
    color: black;
    font-weight: bold;
}

.BannerImg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.BannerImg img {
    width: 60px;
    height: auto;
    border-radius: 8px;
}

.search {
    display: flex;
    align-items: center;
}

.dropdown {
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.recherche {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 250px;
    transition: all 0.3s ease-in-out;
}


.bouton {
    display: flex;
    gap: 15px;
}

.bouton button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.bouton button:hover {
    background-color: #22c55e;
    color: black;
}

